.header-logo{
	width: 100%;
	height: 100px;
	background-color: #050B17;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-logo img{
	width: 80px;
	height: 80px;
}
.header-logo p{
	color: white;
	font-size: 60px;
	font-weight: 700;
}

.signin-container{
	display: flex;
	padding-top: 60px;
	padding-bottom: 60px;
}
.signin-container > div:nth-child(1){
	width: 736px;
	height: 800px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.signin-main .signin-title{
	width: 460px;
	height: 72px;
	margin-top: 60px;
}
.signin-title h1{
	color: black;
	font-size: 40px;
	font-weight: 700;
}
.signin-title p{
	color: black;
	font-size: 20px;
	font-weight: 700;
}
.signin-id{
	width: 460px;
	height: 62px;
	margin-top: 60px;
}
.signin-pw{
	width: 460px;
	height: 62px;
	margin-top: 16px;
}
.signin-id p, .signin-pw p{
	color: black;
	font-size: 20px;
	font-weight: 700;
}
.signin-id input, .signin-pw input{
	width: 460px;
	height: 30px;
	margin-top: 8px;
}
.signin-main button{
	display: block;
	width: 460px;
	height: 80px;
	background-color: #050B17;
	border-radius: 16px;
	border: none;
	margin-top: 32px;
	color: white;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 80px;
	text-decoration: none;
	cursor: pointer;
}
.signin-line{
	width: 460px;
	border-top: 1px #6C6C6C solid;
	margin-top: 60px;
}
.signin-main a{
	display: inline-block;
	margin-top: 60px;
	color: black;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
}
.signin-container img{
	width: 736px;
	height: 800px;
}