.free-container{
	width: 940px;
	min-height: calc(100vh - 280px);
	background-color: #050B17;
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.free-container > :nth-child(1){
	width: 876px;
	height: 276px;
}
.free-photo{
	width: 876px;
	height: 494px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.free-expand{
	width: 558px;
	height: 347px;
	margin-top: 32px;
}
.free-expand img{
	width: 558px;
	height: 315px;
}
.free-default{
	display: flex;
	gap: 20px;
}
.free-default img{
width: 204px;
height: 115px;
cursor: pointer;
}
.free-description{
	width: 876px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.free-post{
	max-width: calc(100% - 48px);
	display: flex;
	flex-direction: column;
	gap: 56px;
	padding-top: 32px;
	padding-bottom: 32px;
}
.free-post p{
	color: white;
	font-size: 16px;
	font-weight: 300;
	padding: 16px;
}
strong{
	font-weight: 700;
}
.free-attention, .free-warning, .free-foreword, .free-description2, .free-faq{
	width: 828px;
	border: 1px solid white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.free-information p{
	display: inline-block;
	padding: 0px;
	color: #006fff;
	text-decoration: underline;
	cursor: pointer;
}
.free-information div{
	width: 560px;
	height: 400px;
	background-color: #454545;
	display: flex;
	margin-top: 8px;
}
.free-main tr > :nth-child(1){
	color: white;
	font-size: 90%;
}
.free-main tr > :nth-child(2){
	color: #69b4ff;
	font-size: 16px;
}
.free-main td{
	padding: 4px;
}
.free-download{
	width: 876px;
	background-color: black;
}
.free-download p{
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-top: 24px;
	margin-left: 24px;
}
.free-download div{
	width: 90px;
	height: 30px;
	background-color: #006fff;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 48px;
	margin-left: 24px;
	margin-bottom: 24px;
	cursor: pointer;
}
.free-pay{
    width: 600px;
    height: 400px;
	background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1000;
}
.free-title{
    width: 600px;
    height: 60px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}
.free-title > :nth-child(1){
    margin-left: 24px;
}
.free-title button{
    width: 60px;
	height: 60px;
	background-color: white;
	font-size: 20px;
}
.free-title button:active {
	background-color: rgb(187, 187, 187);
}
.free-payment{
    width: 468px;
    height: 305px;
    margin-top: 32px;
}
.free-payment > p:nth-of-type(1){
    font-size: 16px;
    font-weight: 400;
}
.free-payment > p:nth-of-type(2){
    font-size: 16px;
    font-weight: 400;
    color: #9E9E9E;
    margin-top: 16px;
	cursor: pointer;
}
.free-payment > p:nth-of-type(3){
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}
.free-payment > p:nth-of-type(4){
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
}
.free-container input{
    width: 468px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 8px;
    font-size: 20px;
    padding-left: 24px;
}
.free-btn{
    width: 242px;
    height: 48px;
    display: flex;
    gap: 12px;
    margin-top: 8px;
}
.free-kakao{
    width: 115px;
    height: 48px;
    background-color: #FFEB00;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.free-kakao img{
    width: 80px;
    height: 40px;
}