.loginHeader{
	width: 100%;
	height: 100px;
	background-color: #050B17;
	display: flex;
	justify-content: space-between;
}
.site{
	width: 117px;
	height: 50px;
	display: flex;
	margin-top: 25px;
	margin-left: 32px;
}
.site img{
	width: 50px;
	height: 50px;
}
.site p{
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin-top: 7px;
}
.category{
	width: 476px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.imgbtn{
	width: 48px;
	height: 48px;
	margin-top: 26px;
	margin-right: 32px;
	cursor: pointer;
}

main{
	min-height: calc(100vh - 160px);
	background-color: #050B17;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
	width: 940px;
	min-height: calc(100vh - 280px);
	background-color: #050B17;
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.container > :nth-child(1){
	width: 876px;
	height: 276px;
}
.photoZone{
	width: 876px;
	height: 494px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.screen{
	width: 558px;
	height: 347px;
	margin-top: 32px;
}
.expand{
	width: 558px;
	height: 315px;
}
.photo{
	display: flex;
	gap: 20px;
}
.photo img{
width: 204px;
height: 115px;
cursor: pointer;
}
.description{
	width: 876px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.write{
	max-width: calc(100% - 48px);
	display: flex;
	flex-direction: column;
	gap: 56px;
	padding-top: 32px;
	padding-bottom: 32px;
}
.write p{
	color: white;
	font-size: 16px;
	font-weight: 300;
	padding: 16px;
}
.attention, .warning, .foreword, .description2, .faq{
	width: 828px;
	border: 1px solid white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.information div{
	width: 560px;
	height: 400px;
	background-color: #454545;
	display: flex;
	margin-top: 8px;
}
tr > :nth-child(1){
	color: white;
	font-size: 90%;
}
tr > :nth-child(2){
	color: #69b4ff;
	font-size: 16px;
}
td{
	padding: 4px;
}
.download{
	width: 876px;
	background-color: black;
}
.download p{
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-top: 24px;
	margin-left: 24px;
}
.download div{
	width: 90px;
	height: 30px;
	background-color: #006fff;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 48px;
	margin-left: 24px;
	margin-bottom: 24px;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #050B17;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
}