.pay-container{
    width: 600px;
    height: 400px;
	background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pay-title{
    width: 600px;
    height: 60px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}
.pay-title > :nth-child(1){
    margin-left: 24px;
}
.pay-title > :nth-child(2){
    margin-right: 24px;
}
.pay-payment{
    width: 468px;
    height: 305px;
    margin-top: 32px;
}
.pay-payment > p:nth-of-type(1){
    font-size: 16px;
    font-weight: 400;
}
.pay-payment > p:nth-of-type(2){
    font-size: 16px;
    font-weight: 400;
    color: #9E9E9E;
    margin-top: 16px;
}
.pay-payment > p:nth-of-type(3){
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}
.pay-payment > p:nth-of-type(4){
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
}
.pay-container input{
    width: 468px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 8px;
    font-size: 20px;
    padding-left: 24px;
}
.pay-container input::-webkit-outer-spin-button,
.pay-container input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.pay-btn{
    width: 242px;
    height: 48px;
    display: flex;
    gap: 12px;
    margin-top: 8px;
}
.pay-kakao{
    width: 115px;
    height: 48px;
    background-color: #FFEB00;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
.pay-kakao img{
    width: 80px;
    height: 40px;
}
.pay-card{
    width: 115px;
    height: 48px;
    background-color: #69B4FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay-card img{
    margin-left: 8px;
}
.pay-card p{
    color: white;
    font-weight: 700;
    margin-right: 8px;
}