.loginHeader{
	width: 100%;
	height: 100px;
	background-color: #050B17;
	display: flex;
	justify-content: space-between;
}
.site{
	width: 117px;
	height: 50px;
	display: flex;
	margin-top: 25px;
	margin-left: 32px;
}
.site img{
	width: 50px;
	height: 50px;
}
.site p{
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin-top: 7px;
}
.category{
	width: 476px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.imgbtn{
	width: 48px;
	height: 48px;
	margin-top: 26px;
	margin-right: 32px;
	cursor: pointer;
}

main{
	min-height: calc(100vh - 160px);
	background-color: #050B17;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
    width: 1400px;
    min-height: calc(100vh - 280px);
    background-color: white;
}
.post{
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.title{
    width: 1000px;
    height: 60px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title > :nth-child(1){
    font-size: 30px;
    font-weight: 700;
    margin-left: 24px;
}
.pbox{
    display: flex;
    gap: 24px;
    font-size: 20px;
    margin-top: 36px;
    margin-right: 24px;
}
.desc p{
    margin-top: 40px;
    margin-left: 40px;
}
.bar{
    width: 1000px;
    height: 30px;
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}
.btn{
    display: flex;
    gap: 12px;
}
.btn div{
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.btn > :nth-child(1){
    background-color: black;
    color: white;
}
.btn > :nth-child(2){
    border: 1px solid black;
    box-sizing: border-box;
}
.line{
    width: 1000px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 99px;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #050B17;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
}