.post-main{
	min-height: calc(100vh - 160px);
	background-color: #050B17;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.post-main .container{
    width: 1400px;
    background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
.post-main .container > div:nth-of-type(1){
    width: 1000px;
    height: 600px;
	margin-top: 60px;
}
.post-main .title{
    width: 1000px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-main .title > :nth-child(1){
    font-size: 30px;
    font-weight: 700;
    margin-left: 24px;
}
.post-main .pbox{
    display: flex;
    gap: 24px;
    font-size: 20px;
    margin-top: 36px;
    margin-right: 24px;
}
.post-main .content{
	width: 1000px;
	height: 540px;
	border: 1px solid black;
	border-top: 0px;
	box-sizing: border-box;
}
.post-main .content p{
    margin-top: 40px;
    margin-left: 40px;
}
.post-main .bar{
    width: 1000px;
    height: 30px;
    margin-top: 24px;
	margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}
.post-main .btn{
    display: flex;
    gap: 12px;
}
.post-main .btn div{
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.post-main .btn > :nth-child(1){
    background-color: black;
    color: white;
}
.post-main .btn > :nth-child(2){
    background-color: black;
    color: white;
}
.post-main .btn > :nth-child(3){
    border: 1px solid black;
    box-sizing: border-box;
}