.price-container{
	width: 940px;
	min-height: calc(100vh - 280px);
	background-color: #050B17;
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.price-container > :nth-child(1){
	width: 876px;
	height: 695px;
}
.price-photo{
	width: 876px;
	height: 494px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.price-expand{
	width: 558px;
	height: 347px;
	margin-top: 32px;
}
.price-expand img{
	width: 558px;
	height: 315px;
}
.price-default{
	display: flex;
	gap: 20px;
}
.price-default img{
width: 204px;
height: 115px;
cursor: pointer;
}
.price-description{
	width: 876px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.price-post{
	max-width: calc(100% - 48px);
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
	padding-bottom: 32px;
}
.price-post p{
	color: white;
	font-size: 16px;
	font-weight: 300;
}
strong{
	font-weight: 700;
}
.price-post h2{
	color: white;
	font-size: 1.5em;
	font-weight: 700;
}
.price-post h3{
	color: white;
	font-size: 1.3em;
	font-weight: 700;
}
.price-information p{
	color: #006fff;
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
}
.price-information div{
	width: 560px;
	height: 400px;
	background-color: #454545;
	display: flex;
	margin-top: 8px;
}
.price-main tr > :nth-child(1){
	color: white;
	font-size: 90%;
}
.price-main tr > :nth-child(2){
	color: #69b4ff;
	font-size: 16px;
}
.price-main td{
	padding: 4px;
}
.price-download{
	width: 876px;
	background-color: black;
}
.price-download p{
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-top: 24px;
	margin-left: 24px;
}
.price-download div{
	width: 90px;
	height: 30px;
	background-color: #006fff;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	margin-top: 48px;
	margin-left: 24px;
	margin-bottom: 24px;
}