.user-header{
	width: 100%;
	height: 100px;
	background-color: #050B17;
	display: flex;
	justify-content: space-between;
}
.user-logo{
	width: 117px;
	height: 50px;
	display: flex;
	margin-top: 25px;
	margin-left: 32px;
}
.user-logo img{
	width: 50px;
	height: 50px;
}
.user-logo p{
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin-top: 7px;
}
.user-category{
	width: 476px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.user-category a{
	color: white;
	font-size: 30px;
	text-decoration: none;
}
.user-header > :nth-child(3){
	width: 48px;
	height: 48px;
	margin-top: 26px;
	margin-right: 32px;
	cursor: pointer;
}

main{
	min-height: calc(100vh - 160px);
	background-color: #050B17;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile-box{
	width: 360px;
	height: 480px;
	background-color: #454545;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50;
	right: 0;
	z-index: 1000;
}
.profile-box > :nth-child(1){
	width: 120px;
	height: 120px;
	margin-top: 32px;
}
.profile-box > p:nth-of-type(1){
	color: white;
	font-size: 24px;
	margin-top: 32px;
}
.profile-box > p:nth-of-type(2){
	color: white;
	font-size: 20px;
	margin-top: 16px;
}
.my-page{
	width: 180px;
	height: 36px;
	background-color: rgb(255, 255, 255);
	border-radius: 16px;
	font-size: 20px;
	text-align: center;
	line-height: 36px;
	margin-top: 60px;
}
.logout{
	width: 180px;
	height: 36px;
	background-color: #006fff;
	border-radius: 16px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}
.logout img{
	width: 24px;
	height: 24px;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #050B17;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 60px;
}